<div class=" shadow-2 flex relative lg:static" style="min-height: 84px;">
  <div class="flex align-items-center justify-content-center px-5 "><img
    src="assets/images/colimalis.svg" alt="Image" height="60"></div>
  <div class="flex flex-1 px-3"><span class="flex align-items-center"><i
    class="pi pi-search "></i></span>
    <input [(ngModel)]="shipid" (keydown)="OnEnter($event)" type="text" class="appearance-none border-none flex-auto bg-transparent outline-none p-component pl-3">
  </div>
  <a pripple="" pStyleClass="@next" enterclass="hidden" leavetoclass="hidden"
     class="p-ripple p-element cursor-pointer flex align-items-center justify-content-center lg:hidden text-white pr-5"><i
    class="pi pi-bars text-4xl"></i><span class="p-ink"></span></a>
  <div
    class="lg:flex hidden absolute lg:static left-0 top-100 z-1 shadow-2 lg:shadow-none lg:pr-5 w-full lg:w-auto ">
    <ul
      class="list-none p-0 m-0 flex select-none flex-column lg:flex-row border-top-1  lg:border-top-none">
      <li><a pTooltip="Mes derniers colis" pripple=""
             class="p-ripple p-element h-full flex px-6 py-3 lg:px-3 lg:py-0 align-items-center  font-medium cursor-pointer transition-colors transition-duration-150"><i
        class="pi pi-inbox text-base lg:text-2xl mr-2 lg:mr-0"></i><span
        class="block lg:hidden font-medium">Inbox</span><span class="p-ink"></span></a></li>
    </ul>
  </div>
</div>

<div class="grid grid-nogutter surface-ground text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="p-d-flex p-ai-center block text-6xl font-bold mb-1">COLIMALIS</span>
      <div class="text-6xl text-primary font-bold mb-3">Vos colis en toute sécurité</div>
      <p class="mt-0 mb-4 text-700 line-height-3">Votre partenaire de confiance pour tous vos besoins en réception de
        colis ! Nous sommes une
        entreprise spécialisée dans la réception et la gestion efficace des colis pour les particuliers et les
        entreprises. </p>
      <button pButton pRipple label="Suivre mon colis" type="button" class="mr-3 p-button-raised"
              (click)="setFocus()"></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="assets/images/website-content-sections.png" alt="Image" class="md:ml-auto block md:h-full"
         style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-3xl">
    <span class="text-900">Un Colis, </span>
    <span class="text-blue-600">Plusieurs Services</span>
  </div>
  <div class="text-700 mb-6">Découvrez notre gamme de services variés, conçus pour répondre à tous vos besoins et vous
    offrir une expérience exceptionnelle.
  </div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 text-xl mb-3 font-medium">Réception et notification en temps réel</div>
      <span class="text-700 line-height-3">Notre équipe dédiée assure la réception sécurisée de vos colis. Une fois reçus,
        nous vous envoyons une notification immédiate, vous tenant informé de l'arrivée de votre colis.
        Vous pouvez ainsi planifier la récupération selon votre convenance.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-lock text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 text-xl mb-3 font-medium">Stockage sécurisé</div>
      <span class="text-700 line-height-3">Notre entrepôt est équipé de systèmes de sécurité avancés pour assurer la protection optimale de vos colis.
        Nous offrons un espace de stockage sécurisé adapté aux différentes tailles et types de colis. Vous pouvez avoir l'esprit tranquille en sachant que vos biens sont entre de bonnes mains.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 text-xl mb-3 font-medium">Gestion des retours</div>
      <span class="text-700 line-height-3">En plus de la réception, nous proposons également un service de gestion des retours.
        Si vous devez renvoyer des colis, nous pouvons les recevoir et les expédier pour vous, simplifiant ainsi le processus de retour et vous faisant gagner du temps.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-globe text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 text-xl mb-3 font-medium">Suivi en ligne</div>
      <span class="text-700 line-height-3">Grâce à notre système de suivi en ligne, vous pouvez suivre facilement vos colis à chaque étape du processus.
        Vous avez accès à des mises à jour en temps réel sur l'arrivée, le stockage et la livraison de vos colis, vous offrant une visibilité totale sur votre logistique.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-wrench text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 text-xl mb-3 font-medium">Services personnalisés</div>
      <span class="text-700 line-height-3">Nous comprenons que chaque client a des besoins uniques. C'est pourquoi nous proposons des services personnalisés pour répondre à vos exigences spécifiques.
        Que vous ayez besoin de demandes spéciales, d'horaires de retrait flexibles ou d'une gestion particulière pour des articles fragiles, nous sommes là pour vous satisfaire. </span>
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-building text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 text-xl mb-3 font-medium">Service client exceptionnel</div>
      <span class="text-700 line-height-3">Votre satisfaction est notre priorité absolue. Notre équipe amicale et compétente est disponible pour
        répondre à toutes vos questions, vous conseiller et vous assister dans tous vos besoins. Nous nous engageons à offrir un service client de premier ordre, vous garantissant une expérience agréable à chaque interaction.</span>
    </div>
  </div>
</div>
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="text-center font-bold text-900 text-5xl mb-3">Notre équipe</div>
  <div class="text-center text-xl line-height-3 text-600 mb-6">Découvrez les visages derrière notre succès : une équipe
    passionnée, talentueuse et
    dévouée qui fait de Colimalis une entreprise d'exception.
  </div>
  <div class="grid">
    <div class="col-12 md:col-4 text-center mb-5"><img height="250px" src="assets/photos/jordan.png" class="mb-3">
      <div class="text-xl text-900 font-medium mb-3">Jordan</div>
      <div class="text-blue-600 text-xl mb-3">Reception Senior</div>
    </div>
    <div class="col-12 md:col-4 text-center mb-5"><img height="250px" src="assets/photos/herve.png" class="mb-3">
      <div class="text-xl text-900 font-medium mb-3">Hervé</div>
      <div class="text-blue-600 text-xl mb-3">Contrôle Qualité</div>
    </div>
    <div class="col-12 md:col-4 text-center mb-5"><img height="250px" src="assets/photos/cyprien.png" class="mb-3">
      <div class="text-xl text-900 font-medium mb-3">Cyprien</div>
      <div class="text-blue-600 text-xl mb-3">Reception Junior</div>
    </div>
  </div>
</div>
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 md:col-4 flex flex-column align-items-center mb-3 md:mb-0"></div>
    <div class="col-12 md:col-4 flex flex-column align-items-center mb-3 md:mb-0"><span
      class="inline-flex align-items-center justify-content-center  w-3rem h-3rem mb-4"><img
      src="assets/images/lapostelogo.png" alt="Image"
      height="60"></span><span class="text-900 text-xl font-medium mb-4">Suivi colis la poste</span>
      <p class="text-center text-600 line-height-3 py-0 m-0 px-3">Votre solution de réception qui offre un suivi précis
        et fiable de vos envois avec La Poste.</p></div>
    <div class="col-12 md:col-4 flex flex-column align-items-center"></div>
  </div>
</div>
<div class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center"><img
  src="assets/images/colimalis.svg" alt="Image" height="70">
  <div class="font-medium text-900 mt-4 mb-3">© 2023 Colimalis, Inc</div>
  <p class="text-600 line-height-3 mt-0 mb-4">Simplifiez votre logistique de colis avec notre service de réception et de
    gestion professionnelle.</p>
  <div class="flex align-items-center justify-content-center"><a class="cursor-pointer text-700 mr-5"><i
    class="pi pi-twitter"></i></a><a class="cursor-pointer text-700 mr-5"><i class="pi pi-facebook"></i></a><a
    class="cursor-pointer text-700"><i class="pi pi-github"></i></a></div>
</div>
<router-outlet></router-outlet>
